doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/util/jquery-1.11.1.min.js')
    script(src='/javascripts/util/jquery-ui-1.11.4/jquery-ui.min.js')

    script(src='/javascripts/start.js')

body
    block content
